.clv5 {
	.icon-flag_en {
		background-image: url(../img/icon-flag_en.png?201601121134);
		background-repeat: no-repeat;
		background-position: center;
	}

	.icon-phone {
		background-image: url(../img/icon-phone.png?201601121134);
		background-repeat: no-repeat;
		background-position: center;
	}

	.icon-bag {
		background-image: url(../img/icon-bag.png?201601121134);
		background-repeat: no-repeat;
		background-position: center;
	}

	.icon-heart {
		background-image: url(../img/icon-heart.png?201601121134);
		background-repeat: no-repeat;
		background-position: center;
	}

	.icon-magnifier {
		background-image: url(../img/icon-magnifier.png?201601191800);
		background-repeat: no-repeat;
		background-position: center;
	}
}