// Gill Sans
@font-face {
	font-family: 'Gill Sans';
	src: url("../fonts/gill-sans/GillSansStd.eot");
	src: url("../fonts/gill-sans/GillSansStd.eot?#iefix") format("embedded-opentype"), url("../fonts/gill-sans/GillSansStd.woff") format("woff"), url("../fonts/gill-sans/GillSansStd.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Gill Sans';
	src: url("../fonts/gill-sans/GillSans-Light.eot");
	src: url("../fonts/gill-sans/GillSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/gill-sans/GillSans-Light.woff") format("woff"), url("../fonts/gill-sans/GillSans-Light.ttf") format("truetype");
	font-weight: lighter;
	font-style: normal;
}


@font-face {
	font-family: 'Gill Sans';
	src: url("../fonts/gill-sans/GillSans-SemiBold.eot");
	src: url("../fonts/gill-sans/GillSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/gill-sans/GillSans-SemiBold.woff") format("woff"), url("../fonts/gill-sans/GillSans-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}