/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Gill Sans';
  src: url("../fonts/gill-sans/GillSansStd.eot");
  src: url("../fonts/gill-sans/GillSansStd.eot?#iefix") format("embedded-opentype"), url("../fonts/gill-sans/GillSansStd.woff") format("woff"), url("../fonts/gill-sans/GillSansStd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gill Sans';
  src: url("../fonts/gill-sans/GillSans-Light.eot");
  src: url("../fonts/gill-sans/GillSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/gill-sans/GillSans-Light.woff") format("woff"), url("../fonts/gill-sans/GillSans-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'Gill Sans';
  src: url("../fonts/gill-sans/GillSans-SemiBold.eot");
  src: url("../fonts/gill-sans/GillSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/gill-sans/GillSans-SemiBold.woff") format("woff"), url("../fonts/gill-sans/GillSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

.ns-clv4 .icon-flag_en {
  background-image: url(../img/icon-flag_en.png?201601121134);
  background-repeat: no-repeat;
  background-position: center; }

.ns-clv4 .icon-phone {
  background-image: url(../img/icon-phone.png?201601121134);
  background-repeat: no-repeat;
  background-position: center; }

.ns-clv4 .icon-bag {
  background-image: url(../img/icon-bag.png?201601121134);
  background-repeat: no-repeat;
  background-position: center; }

.ns-clv4 .icon-heart {
  background-image: url(../img/icon-heart.png?201601121134);
  background-repeat: no-repeat;
  background-position: center; }

.ns-clv4 a {
  color: #A9A9A9;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease-in;
  -khtml-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in; }
  .ns-clv4 a:hover {
    opacity: 0.8; }

.ns-clv4 .hide, .ns-clv4 .hiden {
  display: none !important; }

.ns-clv4 header {
  background: #FFF;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  .ns-clv4 header .layer {
    position: relative;
    width: 100%;
    background-color: #FFF; }
  .ns-clv4 header .layer-top {
    height: 100%;
    z-index: 2; }
  .ns-clv4 header .layer-bottom {
    z-index: 1; }

.ns-clv4 main {
  margin-top: 90px;
  background: #FFF;
  width: 100%;
  height: auto;
  overflow: hidden; }

.ns-clv4 header {
  text-align: center; }
  .ns-clv4 header .header-logo {
    -webkit-transition: none;
    -khtml-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    opacity: 1;
    position: relative;
    z-index: 2; }
    .ns-clv4 header .header-logo img {
      width: 146px;
      height: auto; }
  .ns-clv4 header .header-logo-minimal {
    position: absolute;
    z-index: 1;
    bottom: 26px;
    -webkit-transform: translateX(-50%);
    -khtml-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: none;
    -khtml-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; }
    .ns-clv4 header .header-logo-minimal img {
      width: 20px;
      height: auto;
      opacity: 0;
      -webkit-transform: scale(0);
      -khtml-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }
  .ns-clv4 header.minimized .tl .opt > span {
    opacity: 0; }
  .ns-clv4 header.drop-down-menu-open .layer-top {
    box-shadow: 0px 1px 2px #EDEDED; }
  .ns-clv4 header nav {
    text-align: center;
    display: inline-block; }
    .ns-clv4 header nav ul {
      display: inline-block; }
      .ns-clv4 header nav ul li {
        position: relative;
        float: left;
        text-transform: uppercase;
        margin: 0 12px;
        cursor: pointer;
        position: relative;
        top: 44px; }
        .ns-clv4 header nav ul li.active {
          color: #ED1E24; }
        .ns-clv4 header nav ul li:hover span {
          color: #ED1E24; }
        .ns-clv4 header nav ul li span {
          font-family: 'Gill Sans';
          font-weight: 600;
          font-style: normal;
          font-size: 11px;
          letter-spacing: 1.3805px;
          line-height: 13.0075px;
          -webkit-transition: color 0.3s ease-in-out;
          -khtml-transition: color 0.3s ease-in-out;
          -moz-transition: color 0.3s ease-in-out;
          -ms-transition: color 0.3s ease-in-out;
          -o-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
          pointer-events: none; }
        .ns-clv4 header nav ul li.logo {
          top: 0;
          position: relative; }
  .ns-clv4 header .tm {
    margin-top: 10px; }
    .ns-clv4 header .tm.tl {
      margin-left: 30px; }
      .ns-clv4 header .tm.tl .opt > span {
        -webkit-transition: opacity 0.1s linear;
        -khtml-transition: opacity 0.1s linear;
        -moz-transition: opacity 0.1s linear;
        -ms-transition: opacity 0.1s linear;
        -o-transition: opacity 0.1s linear;
        transition: opacity 0.1s linear; }
      .ns-clv4 header .tm.tl li:nth-child(1) {
        margin-right: 15px; }
    .ns-clv4 header .tm.tr {
      height: 16px;
      margin-right: 30px; }
      .ns-clv4 header .tm.tr ul, .ns-clv4 header .tm.tr li {
        height: 16px; }
      .ns-clv4 header .tm.tr li:nth-child(2) {
        margin: 0 15px; }
      .ns-clv4 header .tm.tr li + li > a {
        width: 16px;
        height: 16px;
        background-size: 16px;
        background-position: center center;
        line-height: 16px; }
    .ns-clv4 header .tm .opt {
      display: inline-block;
      width: auto;
      height: 14px;
      line-height: 14px;
      background-size: 13px;
      background-position: left top;
      line-height: 14px;
      font-family: 'Gill Sans';
      font-weight: lighter;
      font-style: normal;
      font-size: 12px; }
      .ns-clv4 header .tm .opt span {
        padding-left: 18px; }
  .ns-clv4 header + .dark-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    display: none;
    -webkit-transition: opacity 0.3s;
    -khtml-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }

.ns-clv4 header .layer-bottom {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
  -khtml-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); }

.ns-clv4 header .menu-drop-down-container {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s;
  -khtml-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .ns-clv4 header .menu-drop-down-container .dd-bottom-discoveries {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    padding: 0; }
    .ns-clv4 header .menu-drop-down-container .dd-bottom-discoveries .col-2 ul > li {
      width: 50%; }
      .ns-clv4 header .menu-drop-down-container .dd-bottom-discoveries .col-2 ul > li:nth-child(1):after {
        content: "";
        width: 1px;
        height: 100%;
        background-color: #D9D9D9;
        position: absolute;
        bottom: 0;
        right: 0; }
    .ns-clv4 header .menu-drop-down-container .dd-bottom-discoveries .col-3 ul > li {
      width: 33.333333%; }
    .ns-clv4 header .menu-drop-down-container .dd-bottom-discoveries ul > li {
      position: relative;
      height: 176px;
      float: left; }
      .ns-clv4 header .menu-drop-down-container .dd-bottom-discoveries ul > li .bg {
        height: 100%; }
  .ns-clv4 header .menu-drop-down-container[data-active="women"] .women {
    display: block; }
    .ns-clv4 header .menu-drop-down-container[data-active="women"] .women li:nth-child(1) {
      background-color: #F5F4F9; }
      .ns-clv4 header .menu-drop-down-container[data-active="women"] .women li:nth-child(1):after {
        content: " ";
        height: 100%;
        width: 1px;
        position: absolute;
        background-color: #D9D9D9;
        right: 0;
        bottom: 0; }
    .ns-clv4 header .menu-drop-down-container[data-active="women"] .women li:nth-child(2) {
      background-color: #F7F7F7; }
  .ns-clv4 header .menu-drop-down-container[data-active="men"] .men {
    display: block; }
  .ns-clv4 header .menu-drop-down-container[data-active="beauty"] .beauty {
    display: block; }

.ns-clv4 header .menu-categories [data-category] {
  opacity: 0; }

.ns-clv4 header .menu-categories {
  height: 0px;
  margin-top: 80px; }
  .ns-clv4 header .menu-categories > div {
    width: auto;
    display: inline-block;
    padding: 40px 0; }
    .ns-clv4 header .menu-categories > div > div {
      margin-right: 50px; }
      .ns-clv4 header .menu-categories > div > div:last-child {
        margin-right: 0; }
  .ns-clv4 header .menu-categories .s-cat {
    width: auto;
    float: left;
    text-align: left; }
    .ns-clv4 header .menu-categories .s-cat h3 {
      font-family: 'Gill Sans';
      font-weight: 600;
      font-style: normal;
      text-transform: uppercase;
      margin-bottom: 15px;
      font-size: 11px; }
    .ns-clv4 header .menu-categories .s-cat ul li {
      font-family: 'Gill Sans';
      font-weight: lighter;
      font-style: normal;
      margin-bottom: 10px;
      font-size: 12px; }
    .ns-clv4 header .menu-categories .s-cat a {
      color: #000; }

.ns-clv4 header .tm {
  position: absolute;
  top: 0; }
  .ns-clv4 header .tm ul li {
    float: left;
    color: #A9A9A9; }
  .ns-clv4 header .tm.tl {
    left: 0; }
  .ns-clv4 header .tm.tr {
    right: 0; }
