/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Gill Sans';
  src: url("../fonts/gill-sans/GillSansStd.eot");
  src: url("../fonts/gill-sans/GillSansStd.eot?#iefix") format("embedded-opentype"), url("../fonts/gill-sans/GillSansStd.woff") format("woff"), url("../fonts/gill-sans/GillSansStd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
.ns-clv4 header {
  background: #FFF;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0; }

.ns-clv4 main {
  margin-top: 90px;
  background: #000;
  width: 100%;
  height: calc(300vh - 90px);
  overflow: hidden; }

.ns-clv4 header {
  -webkit-transition: all 0.3s;
  -khtml-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .ns-clv4 header .header-logo {
    width: 104px;
    height: 104px; }
  .ns-clv4 header.minimize {
    height: 35px; }
  .ns-clv4 header nav {
    text-align: center; }
    .ns-clv4 header nav ul {
      display: inline-block; }
      .ns-clv4 header nav ul li {
        float: left;
        text-transform: uppercase;
        margin: 0 12px; }
        .ns-clv4 header nav ul li span {
          font-family: 'Gill Sans';
          position: relative;
          top: 44px;
          font-size: 11px;
          letter-spacing: 1.3805px;
          line-height: 13.0075px;
          cursor: pointer; }

.ns-clv4 header .tm {
  position: absolute;
  top: 0; }
  .ns-clv4 header .tm ul li {
    float: left;
    color: #A9A9A9; }
  .ns-clv4 header .tm.tl {
    left: 0; }
  .ns-clv4 header .tm.tr {
    right: 0; }
