@import "helpers/colours";

// header
$header-height: 90px;
$header-height-min: 35px;
$header-logo-height: 146px;

// top corner menus
$top-corner-menu-ln-height: 14px;
$top-corner-menu-margin: 30px;
$top-corner-right-height: 16px;

// fonts
$font-nav-main-opt-sz: 11px;
$font-nav-top-corner-sz: 12px;

// hover
$common-hover-duration: 0.3s;

// easing
$common-hover-easing: ease-in-out;