.ns-clv4 {
	header {
		.layer-bottom {
			position: absolute;
			top: 0;
			left: 0;
			@include transform(translateY(-100%));
		}

		.menu-drop-down-container {
			width: 100%;
			height: auto;
			@include transition(all 0.3s);

			.dd-bottom-discoveries {
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				opacity: 0;
				padding: 0;
				background-color: #E6E5E6;
				.discover {}

				.col-2 ul > li {
					width: 50%;

					&:nth-child(1) {
						&:after {
							content: "";
							width: 1px;
							height: 100%;
							background-color: #D9D9D9;
							position: absolute;
							bottom: 0;
							right: 0;
						}
					}
				}

				.col-3 ul > li {
					width: 33.333333%;
				}

				ul {
					max-width: 968px;
					margin: 0 auto;

					> li {
						position: relative;
						height: 176px;
						float: left;
						overflow: hidden;

						.bg {
							height: 100%;
						}
					}
				}
			}

			.discover {
				div {
					width: 170px;
					text-align: left;
					position: absolute;
					top: 0;
					right: 0;
					height: auto;
					padding-right: 40px;
					top: 50%;
					@include transform(translateY(-50%));

					h4 {
						text-transform: uppercase;
					}

					p {
						line-height: 16px;
					}

					h4, a {
						font-family: 'Gill Sans';
						font-weight: 600;
					}

					h4, p, a {
						font-size: 12px;
						color: #000;
						padding-bottom: 8px;
					}

					p {
						font-size: 12px;
						color: #999999;
						font-family: 'Gill Sans';
						font-weight: lighter;
					}

					a {
						text-transform: capitalize;
						text-decoration: underline;
						margin-bottom: 0;
					}
				}
			}

			&[data-active="women"] {
				.women {
					display: block;

					li {
						&:nth-child(1) {
							background-color: #F5F4F9;

							&:after {
								content: " ";
								height: 100%;
								width: 1px;
								position: absolute;
								background-color: #D9D9D9;
								right: 0;
								bottom: 0;
							}
						}

						&:nth-child(2) {
							background-color: #F7F7F7;
						}
					}
				}
			}

			&[data-active="men"] {
				.men {
					display: block;
				}
			}

			&[data-active="beauty"] {
				.beauty {
					display: block;
				}
			}
		}

		.menu-categories {
			[data-category] {
				opacity: 0;
			}
		}

		.menu-categories {
			height: 0px;
			margin-top: $header-drop-down-menu-top-offset;

			> div {
				width: auto;
				display: inline-block;
				padding: 40px 0;

				> div {
					margin-right: 50px;

					&:last-child {
						margin-right: 0;
					}
				}
			}

			.s-cat {
				width: auto;
				float: left;
				text-align: left;

				h3 {
					font-family: 'Gill Sans';
					font-weight: 600;
					font-style: normal;
					text-transform: uppercase;
					margin-bottom: 15px;
					font-size: 11px;
				}

				ul {
					li {
						font-family: 'Gill Sans';
						font-weight: lighter;
						font-style: normal;
						margin-bottom: 10px;
						font-size: 12px;
					}
				}

				a {
					color: #000;
				}
			}
		}
	}
}