.ns-clv4 {
	header {
		.header-logo {
			width: $header-logo-height;
			height: $header-logo-height;
		}

		nav {
			text-align: center;

			ul {
				display: inline-block;

				li {
					position: relative;
					float: left;
					text-transform: uppercase;
					margin: 0 12px;

					span {
						font-family: 'Gill Sans';
						font-weight: 600;
						font-style: normal;
						position: relative;
						top: 44px;
						font-size: $font-nav-main-opt-sz;
						letter-spacing: $font-nav-main-opt-sz * 0.1255;
						line-height: $font-nav-main-opt-sz * 1.1825;
						cursor: pointer;
					}

					&.logo {
						position: relative;
					}
				}
			}
		}

		.tm {
			.opt {
				display: inline-block;
				width: auto;
				height: $top-corner-menu-ln-height;
				line-height: $top-corner-menu-ln-height;
				background-size: 13px;
				background-position: left top;
				line-height: 14px;
				font-family: 'Gill Sans';
				font-weight: lighter;
				font-style: normal;

				span {
					padding-left: 18px;
				}
			}
		}
	}
}