.ns-clv4 {
	header {
		background: #FFF;
		width: 100%;
		height: $header-height;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;

		.layer {
			position: relative;
			width: 100%;
			background-color: #FFF;
		}

		.layer-top {
			height: 100%;
			z-index: 2;
		}

		.layer-bottom {
			z-index: 1;
		}
	}
}